html    
    head
    body
        if isVerified
            h1 You email has been verified successfully. Please login.
            h2 Thank you!
        else 
            h1 You email link has expired!
            h2 Please regenerate your verification link.
            h3 Thank You!
    